body {
	background-color: blue;
}

.header {
	background: blue;
	width: 100%;
	height: 25%;
}

.left {
	width: 33%;
	background-color: blue;
	text-align: left;
}

.right {
	width: 67%;
	text-align: center;
	background-color: white;
}

.footer {
	background: blue;
	width: 100%;
	height: 25%;
}
