.nav-left {
	float: left;
}

.nav-right {
	float: right;
}

.column {
	float: left;
	padding: 10px;
}

.left {
	width: 25%;
	background-color: blue;
	color: white;
}

.right {
	width: 75%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	width: 100%;
	background-color: blue;
	color: white;
}
